@import "tailwindcss";

@font-face {
  font-family:Nunito;
  src:url(./fonts/Nunito.ttf);
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background:#FAF3DD;
  --foreground:#2A3B32;

  /* SURFACES (for modals, dialogs, etc.) */
  --surface: #FFFFFF;
  --surface-alt: #C8D5B9;

  /* MAIN COLORS */
  --primary: #4A7C59;
  --primary-hover: #68B0AB;
  --secondary: #8FC0A9;

  /* TYPOGRAPHY */
  --font-main: 'Nunito', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);

  --color-surface: var(--surface);
  --color-surface-alt: var(--surface-alt);

  --font-sans: var(--font-main);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:Nunito, sans-serif
}

input[type="checkbox"] {
  appearance: none;
  width:20px;
  height:20px;
  background-color:aliceblue;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  width:20px;
  height:20px;
  background-color: #2ecc71;
}

@layer utilities {
  @keyframes shake {
    0%, 100% { transform: translateX(0) }
    25% { transform:tranlslateX(-5px) }
    75% { transform:translateX(5px)}
  }
  .animate-shake {
    animation: shake 0.2s east-in-out 3;
  }
}

/* input[type="checkbox"]::before {

}

input[type="checkbox"]:checked::before {
  transform: scale(1);
} */